html, body, .container, #render-target {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

.mu-app-bar {
  transition: all 0.3s;
}

.content {
  height: 100%;
}

.tile img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.tile img:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
